<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/general.html :: head">
        <title>Title</title>
    </head>
    <body>
        <nav th:replace="fragments/general.html :: navbar"></nav>

        <div class="container">


            <h2>Zoned out</h2>
            <p>Network for lazy people avoiding work</p>
            
            
        </div>

        <th:block th:replace="fragments/general.html :: bootstrapscripts"></th:block>
    </body>
</html>